<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark justify-content-center nav-pills">
        <a class="navbar-brand nav-link active" href="/">Home</a>
        <a class="navbar-brand" href="/agenda">Agenda</a>
        <a class="navbar-brand" href="/speakers">Speakers</a>
        <a class="navbar-brand" href="/partners">Partners</a>
        <a class="navbar-brand" href="/registration">Registration</a>
    </nav>
    <div class="col-sm-12 text-center">
        <h1>Welcome!</h1>
        <h2>GLOBAL AZURE BOOTCAMP</h2>
    </div>
    
</body>
<html>