*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
	min-width: 320px;
    background-color: rgb(182, 182, 182);
    margin-top: 70px;
}
.navbar{
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
h1{
    color: white;
    text-shadow: 1px 1px #007bff, 1px -1px #007bff, -1px 1px #007bff, -1px -1px #007bff, 3px 3px 6px rgba(0,0,0,.5);
}
.home{
    padding: 10px;
    max-width: 1200px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border: solid 2px #007bff;
    background-color: white;
    text-align: center;
    margin-bottom: 30px;
}
.logo{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.cont{
    text-align: justify;
    padding: 10px;
    width: 100%;
}
.cont img{
    max-width: 150px;
}
.cont li{
    border-bottom: solid 2px #007bff;
    padding-bottom: 10px;
    list-style-type: none;
}
.speak{
    position: relative;
    text-align: center;
}
h3{
    color: #007bff;
}
.content{
    display: inline-block;
}
.card{
    margin-bottom: 20px;
    padding-top: 10px;
    border: solid 2px #007bff;
}
.content img{
    max-width: 300px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.bio{
    text-align: left;
}
form{
    max-width: 600px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: bold;
}
.table{
    max-width: 1000px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border: solid 2px #007bff;
}
table tbody{
    background-color: white;
}
table img{
    width: 100px;
}