<h1>
    We're sorry, something went wrong...
</h1>
<h2>
    Your registration for Global Azure Bootcamp 2019 in Kyiv couldn't be confirmed.
</h2>
<p>
    Please try to confirm it again or contact the organizers at <a href="mailto:gab-ua@azureday.global">gab-ua@azureday.global</a>.
</p>