<h1>
    Congratulations!
</h1>
<h2>
    You've confirmed your registration for Global Azure Bootcamp 2019 in Kyiv successfully!
</h2>
<p>
    We will be waiting for you at the venue.
</p>
<p>
    IMPORTANT NOTE: Please do not forget to bring your citizen ID (or other official means of identification) to the event, because it is required by the venue's security.
</p>