<h1>
    Congratulations!
</h1>
<h2>
    You're one step away from attending Global Azure Bootcamp 2019 in Kyiv.
</h2>
<p>
    Registration confirmation letter has been sent to the email address you've provided.
</p>
<p>
    Please check your email inbox (and spam - just in case) for instructions how to confirm your registration.
</p>