<div class="container-fluid mainLogoContainer">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <img src="/cdn/img/logo-2019-762x677.png" class="img-fluid" alt="Global Azure Bootcamp 2019 in Kyiv" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <div class="text-center">
                <img src="/cdn/img/partners/AzureUA.jpg" class="img-fluid" alt="Ukrainian Microsoft Azure Community" />
                <img src="/cdn/img/partners/microsoft-logo.jpg" class="img-fluid" alt="Microsoft logo" />
            </div>
            <div class="text-center">
                <h1>
                    Welcome to Global Azure Bootcamp 2019 in Kyiv!
                </h1>
                <p>
                    Global Azure Bootcamp is a global community event that aims to spread enthusiasm and knowledge about the Microsoft Azure Platform, though it is not an event owned, or run, by Microsoft.
                </p>
                <span>
                    <a class="btn btn-primary btn-lg" href="/registration" role="button"><i class="fas fa-user-plus"></i> Register now to reserve your seat</a>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 py-3 mainContentContainerBackgroundBlue">
            <h2>
                <i class="fas fa-clock"></i> WHEN: 27th of April 2019 from 09-00 till 18-00
            </h2>
            <h2>
                <i class="fas fa-map-marked-alt"></i> WHERE: Microsoft Ukraine, Kyiv, Zhylian'ska str. 75
            </h2>
            <h2>
                <i class="fas fa-hand-holding-usd"></i> FREE attendance after registration on this website
            </h2>
            <h2>
                &nbsp;
            </h2>
            <h4>
                <i class="fas fa-question-circle"></i> QUESTIONS? Reach us at <a style="color: #fff;" href="mailto:gab-ua@azureday.global">gab-ua@azureday.global</a>
            </h4>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 my-3 mainContentContainerBackgroundWhite">
            <p>
                All around the world user groups and communities want to learn about Azure and Cloud Computing.
            </p>
            <p>
                <strong>Global Azure Bootcamp (GAB)</strong> is a global user group and community event that aims to spread enthusiasm and knowledge about the Microsoft Azure Platform, though it is not an event owned, or run, by Microsoft.
            </p>
            <p>
                <strong>GAB is 100% community driven by MVPs, RDs and User Group leaders around the world. </strong> The total attendance at these events is estimated at over 15000 people.
            </p>
            <p>
                Global Azure Bootcamp is an event solely driven by the great developers and IT communities around the globe when community enthusiasts around the world meet up on a specific day at over 270 locations around the globe to share their excitement and enthusiasm for the Azure Platform.
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-4 mainContentContainerBackgroundWhite">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 text-center">
                    <img src="/cdn/img/GAB2018-locations.png" class="img-fluid" alt="GAB 2018 locations" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                    <p>
                        At its heart, GAB event is a local one-day Azure Community event, multiplied by very many locations around the world.
                    </p>
                    <p>
                        At each location, organized by local community leaders and Microsoft Azure enthusiasts, the event serves to
                        benefit the local community members and to teach essential Microsoft Azure skills and know how.
                    </p>
                    <p>
                        In 2018 GAB was held in over 270 locations around the world, including Kyiv.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dividerA">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 my-3 mainContentContainerBackgroundWhite">
            <p>
                The event runs for a whole Earth rotation starting in the morning in New Zealand and ending almost thirty hours later in
                the afternoon on the US West coast. In between the start and the end we see the social media hashtag #GlobalAzure
                (<a target="_blank" href="https://twitter.com/search?q=%23GlobalAzure">https://twitter.com/search?q=#GlobalAzure</a>) trending around the globe with peaks in India, Europe, Brazil and US
                time zones. There are locations as remote as Mauritius and Puerto Rico, as metropolitan as Tokyo and New York, and
                everything in between.
            </p>
        </div>
    </div>
</div>