<div class="container-fluid mainContentContainerBackgroundBlue">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center py-2">
            <h1>Register for Global Azure Bootcamp 2019 Kyiv</h1>
        </div>
    </div>
</div>

<div class="container mainContentContainerBackgroundWhite my-3">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center">
                Registration closed
            </h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dividerC">
        </div>
    </div>
</div>
