<h2>
    Dear friend,
</h2>
<p>
    please use this <a target="_blank" href="{{link}}">link</a> to confirm your email address in order to confirm your registration for Global Azure Bootcamp 2019 in Kyiv.
</p>