<h1>
    Congratulations!
</h1>
<h2>
    Your email address and registration for Global Azure Bootcamp 2019 in Kyiv is confirmed successfully.
</h2>
<p>
    We'll see you at the office of Microsoft Ukraine, Kyiv, Zhylian'ska str. 75 on 27th of April 2019 at 09-00.
</p>
<p>
    IMPORTANT NOTE: Please do not forget to bring your citizen ID (or other official means of identification) to the event, because it is required by the venue's security.
</p>