<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css" />

  </head>
  <body>
    <img src="/cdn/logo.png" />
    {{{body}}}
  </body>
</html>
