<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <title>{{title}}</title>

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/vendor/font-awesome/css/all.min.css" />

    <link rel="stylesheet" href="/cdn/css/style.css" />
  </head>
  <body>
    <img src="/cdn/logo.png" />
    {{{body}}}
  </body>
</html>
