<div class="container-fluid mainContentContainerBackgroundBlue">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center py-2">
            <h1>Register for Global Azure Bootcamp 2019 Kyiv</h1>
        </div>
    </div>
</div>

<div class="container mainContentContainerBackgroundWhite my-3">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>
                Registration form
            </h1>
            <div class="alert alert-primary" role="alert">
                Registration for Global Azure Bootcamp is free of charge. Each registered attendee gets admittance to the event, free coffee breaks and lunch, and is entitled to enter a raffle for event prizes.
            </div>
            <form method="POST">
                <div class="form-group">
                    <label for="firstName">First name:</label>
                    <input type="text" class="form-control" id="firstName" required placeholder="Enter first name">
                    <div class="alert alert-warning" role="alert">
                        You will need to provide this information during security check at the GAB location and have a matching citizen ID with you.
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName">Last name:</label>
                    <input type="text" class="form-control" id="lastName" required placeholder="Enter last name">
                    <div class="alert alert-warning" role="alert">
                        You will need to provide this information during security check at the GAB location and have a matching citizen ID with you.
                    </div>
                </div>
                <div class="form-group">
                    <label for="contactEmail">Your email address:</label>
                    <input type="email" class="form-control" id="contactEmail" required placeholder="Enter your email address">
                    <div class="alert alert-warning" role="alert">
                        You will need to provide this information during registration process at the GAB location.
                    </div>
                </div>
                <div class="form-group">
                    <label for="jobTitle">Job title:</label>
                    <input type="text" class="form-control" id="jobTitle" required placeholder="Enter job title">
                </div>
                <div class="form-group">
                    <label for="company">Company name:</label>
                    <input type="text" class="form-control" id="company" required placeholder="Enter company name">
                </div>
                <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-user-check"></i> Register</button>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dividerC">
        </div>
    </div>
</div>
